<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Grubi Facebook Api Wrapper Test Suit">
            <directory suffix="Test.php">./tests/Grubi/</directory>
        </testsuite>
    </testsuites>
</phpunit>
